

<!--
<mat-card class="card">

  <nav class="navbar">
    <div class="navbar_container">
      <h1 id="navbar_logo">Accounting</h1>

      <ul class="navbar_menu">
        <li class="navbar_button"> 
          <div class="col-lg-4 mt-2">
            <button class="btn btn-primary btn-sm" id="button" routerLink="/login">Log In</button>
          </div>
        </li> 

        <li class="navbar_button">
          <div class="col-lg-4 mt-2">
            <button class="btn btn-primary btn-sm" id="button" routerLink="/signup">Sign Up</button>
          </div>
        </li>

      </ul>
    </div>
  </nav>

</mat-card>
-->

<script src="app.js"></script>
<router-outlet></router-outlet>
